.contacts-panel {
  padding: 16px;
}

.contacts-title {
  font-size: 18px;
  font-weight: 600;
  margin-bottom: 12px;
  color: var(--text-primary);
}
.notification-panel {
  padding: 8px 16px 0 16px;
}
.notification-list {
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.notification-title {
  font-size: 18px;
  font-weight: 600;
  margin-bottom: 12px;
  color: var(--text-primary);
}
.notification-heading {
  font-size: 14px;
  font-weight: 400;
  color: var(--text-primary);
}
.notification-time {
  font-size: 14px;
  font-weight: 400;
  opacity: 0.4;
  color: var(--text-primary);
}
.contact-item {
  display: flex;
  align-items: center;
  gap: 12px;
}
.notification-content {
  display: flex;
  gap: 4px;
  flex-direction: column;
}
.notification-icon {
  height: 27px;
}
