/* Container */
.layout-container {
  height: 100vh;
  background-color: var(--bg-primary);
  display: flex;
  overflow: hidden;
}

/* Left Panel */
.left-panel {
  transition: all 0.3s cubic-bezier(0.68, -0.85, 0.27, 1.85);
  background-color: var(--bg-primary);
  border-right: 1px solid var(--border-color-default);
  overflow: hidden;
  /* box-shadow left as is for now */
  backdrop-filter: blur(10px);
  background: var(--bg-primary);
  box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.1),
    0 4px 6px -2px rgba(0, 0, 0, 0.05);
}

.left-panel.open {
  width: 280px;
  overflow-y: auto;
}

.left-panel.closed {
  width: 0;
}

/* Panel Content */
.panel-content {
  width: 256px;
  height: 100%;
  background: var(--bg-primary);
  padding: 16px;
}

.right-panel-content {
  width: 288px;
  height: 100%;
  padding: 16px;
  background: var(--bg-primary);
}

/* Panel Header */
.panel-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 24px;
}

.panel-title {
  font-size: 18px;
  font-weight: 600;
  color: var(--text-primary);
}

/* Close Button */
.close-button {
  padding: 4px;
  border-radius: 6px;
  border: none;
  background-color: transparent;
  cursor: pointer;
}

.close-button:hover {
  background-color: var(--bg-tertiary);
}

/* Navigation */
.nav {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.nav-item {
  display: flex;
  align-items: center;
  gap: 12px;
  padding: 8px 12px;
  border-radius: 6px;
  color: var(--text-primary);
  text-decoration: none;
  cursor: pointer;
}

.nav-item:hover {
  background-color: var(--sidebar-item-hover-bg);
  color: var(--interactive-primary);
}

/* Main Content */
.main-content {
  flex: 1;
  display: flex;
  flex-direction: column;
}

/* Header */
.header {
  background: var(--bg-primary);
  backdrop-filter: blur(10px);
  border-bottom: 1px solid var(--border-color-default);
  padding: 16px 24px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header-left {
  display: flex;
  align-items: center;
  gap: 16px;
}

.header-right {
  display: flex;
  align-items: center;
  gap: 10px;
}

/* Menu Button */
.menu-button {
  padding: 4px;
  border-radius: 6px;
  border: none;
  background-color: transparent;
  cursor: pointer;
}

.menu-button:hover {
  scale: 1.1;
  background-color: var(--bg-tertiary);
}

/* Title */
.title {
  font-size: 14px;
  font-weight: 400;
  color: var(--text-primary);
}

/* Search */
.search-container {
  position: relative;
  .search-icon {
    position: absolute;
    z-index: 1;
  }
}

.search-input {
  padding-left: 40px;
  padding-right: 16px;
  padding-top: 8px;
  padding-bottom: 8px;
  border: 1px solid var(--search-border);
  border-radius: 6px;
  outline: none;
  background: var(--search-bg);
  backdrop-filter: blur(5px);
}

.search-input:focus {
  border-color: var(--border-color-default);
  box-shadow: 0 0 0 2px var(--interactive-primary);
  background: var(--bg-primary);
}

.search-icon {
  position: absolute;
  left: 12px;
  top: 50%;
  transform: translateY(-50%);
  color: var(--text-tertiary);
}

/* Content */
.content {
  flex: 1;
  padding: 24px;
  overflow: auto;
}

.content-inner {
  margin: 0 auto;
}

/* Right Panel */
.right-panel {
  background: var(--bg-primary);
  backdrop-filter: blur(10px);
  border-left: 1px solid var(--border-color-default);
  overflow: hidden;
  box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.1),
    0 4px 6px -2px rgba(0, 0, 0, 0.05);
  transition: all 0.4s cubic-bezier(0.68, -0.85, 0.27, 1.85);
}

.right-panel.open {
  width: 288px;
  overflow: auto;
}

.right-panel.closed {
  width: 0;
}

.opacity-0 {
  opacity: 0;
}
.opacity-10 {
  opacity: 0.1;
}
.opacity-20 {
  opacity: 0.2;
}
.opacity-30 {
  opacity: 0.3;
}
.opacity-40 {
  opacity: 0.4;
}
.opacity-50 {
  opacity: 0.5;
}
.opacity-60 {
  opacity: 0.6;
}
.opacity-70 {
  opacity: 0.7;
}
.opacity-80 {
  opacity: 0.8;
}
.opacity-90 {
  opacity: 0.9;
}
.opacity-100 {
  opacity: 1;
}
