h1 {
  color: var(--text-primary);
}
.stat-card-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, 1fr);
  gap: 16px;
  color: var(--text-primary);
  justify-content: center;
  align-items: center;
}
.test {
  display: flex;
}
.test1 {
  flex: 1;
}
.revenue-charts-container {
  display: flex;
}
.chart-revenue{
    
}