:root {
  --bg-primary: #ffffff;
  --bg-secondary: #f8f8fb;
  --bg-tertiary: #f1f3f9;
  --border-color-default: #e0e2e7;
  --border-color-subtle: #edf0f5;
  --hover: #1c1c1c0f;
  --table-head: #f7f9fb;
  --card-bg: #f7f9fb;
  --progress-bg: #e6eef5;
  --previous-line: #1c1c1c;
  --top-selling-header: #9fa0a2;

  --sidebar-bg: #ffffff;
  --sidebar-item-hover-bg: #f1f3f9;
  --header-bg: #ffffff;
  --search-bg: #fafbfd;
  --search-border: #e0e2e7;

  --text-primary: #1c1c1c;
  --text-secondary: #1c1c1c40;
  --text-tertiary: ##1c1c1c20;
}
body.theme-dark {
  --bg-primary: #1c1c1c;
  --bg-secondary: #2b2d37;
  --bg-tertiary: #3a3d49;
  --border-color-default: #3a3d49;
  --border-color-subtle: #4d505c;
  --hover: #ffffff0f;
  --table-head: #282828;
  --card-bg: #282828;
  --progress-bg: #444c53;
  --previous-line: #c6c7f8;
  --top-selling-header: #7e7e7e;

  --sidebar-bg: #2b2d37;
  --sidebar-item-hover-bg: #3a3d49;
  --header-bg: #2b2d37;
  --search-bg: #232323;
  --search-border: #4d505c;

  --text-primary: #ebecef;
  --text-secondary: #a9b1bd;
  --text-tertiary: #7d8595;
}
